.cards__like {
  width: 21px;
  height: 18px;
  margin-right: 15px;
  background-image: url(../../../images/elements-like.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  object-fit: contain;
  object-position: center;
  outline: none;
}

.cards__like:hover {
  opacity: 0.6;
  transition: 0.3s opacity ease-in-out;
}
