@import url(./__list/elements__list.css);

.elements {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 882px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .elements {
    max-width: 582px;
  }
}

@media (max-width: 600px) {
  .elements {
    max-width: 282px;
  }
}
