@import url(./__copyright/footer__copyright.css);

.footer {
  font-family: 'Inter', Arial, sans-serif;
  max-width: 882px;
  margin: 66px auto 60px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 60px auto 54px;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    max-width: 582px;
    margin: 54px auto 46px;
  }
}

@media screen and (max-width: 600px){
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }
}
